.sidebar {
    background-color: var(--slack-color);
    border-top: 1px solid #49274b;
    max-width: 260px;
    color: white;
    flex: 0.3;
  }
  
  .sidebar > hr {
    margin: 10px 0;
    border: 1px solid #49274b;
  }
  
  .sidebar-header {
    display: flex;
    padding-bottom: 10px;
    padding: 13px;
    border-bottom: 1px solid #49274b;
  }
  
  .sidebar-info {
    flex: 1;
  }
  
  .sidebar-info > h2 {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
  }
  
  .sidebar-info > h3 {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
  }
  
  .sidebar-info > h3 > .MuiSvgIcon-root {
    font-size: 14px;
    margin: 1px 2px 0 0;
    color: green;
  }
  
  .sidebar-header > .MuiSvgIcon-root {
    padding: 8px;
    color: #49274b;
    font-size: 18px;
    background-color: white;
    border-radius: 50%;
  }
  
  .sidebarOption {
    width: 100%;
  }
  
  .sidebar-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    height: 100%;
    padding: 10px 0;
  }
  
  .sidebar-text hr {
    margin: 10px 0;
    border: 1px solid #49274b;
    width: 100%;
  }
  
  /* Channels */
  .channels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }
  
  .channels h2 {
    font-size: 16px;
    align-self: flex-start;
    margin: 5px 0;
    padding-left: 20px;
    text-align: left; /* Align the text to the left */
    font-weight: 400;
  }
  

  /* Modals */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Adjust the width as needed */
    width: 90%; /* Responsive width */
    z-index: 1000;
  }
  
  /* Style for the modal title */
  .modal h4 {
    padding-bottom: 10px;
  }
  
  /* Style for input fields */
  .modal label {
    display: block;
    margin-bottom: 10px;
    color: black;
   
  }
  
  .modal input[type="text"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
   
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  /* Style for buttons in the modal */
  .modal button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .modal button:nth-child(1) {
    margin-right: 10px; /* Adjust the margin as needed */
  }

  .modal button:nth-child(2) {
    margin-left: 10px; /* Adjust the margin as needed */
  }
  
  /* Button hover effect */
  .modal button:hover {
    background-color: #0056b3;
  }
  
  .modal button:hover {
    background-color: #0056b3;
  }

  .channel-list {
    list-style: none; /* Removes the list-style marker */
    font-size: 17px;
    text-decoration: none;
    color: white;
  }

  ul.channel-list {
    list-style: none;
    padding: 0;
  }
  
  /* Style each channel item */
  ul.channel-list li {
    margin: 4px 0;
  }
  
  /* Style the channel link */
  ul.channel-list li a {
    text-decoration: none;
    color: white; /* Change to your desired text color */
    font-weight: bold;
    display: block;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }
  
  /* Hover effect for channel links */
  ul.channel-list li a:hover {
    background-color: #f0f0f0; /* Change to your desired hover background color */
  }
  
  /* Style for the selected channel */
  ul.channel-list li a.selected {
    background-color: #007bff; /* Change to your desired selected channel background color */
    color: #fff; /* Change to your desired text color */
  }
  

  /* Search bar */

  /* Add these styles to your component's CSS file */
  .user-search-results {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 4px;
  }
  
  .user-search-results div {
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black; /* Text color set to black */
  }
  
  .user-search-results div:hover {
    background-color: #f2f2f2;
  }
